[submodule "external/ACadSharp"]
	path = external/ACadSharp
	url = https://github.com/wieslawsoltes/ACadSharp
[submodule "external/ProEdit"]
	path = external/ProEdit
	url = https://github.com/wieslawsoltes/ProEdit
